page {
  color: $u-main-color;
  font-size: 28rpx;
  font-family: PingFang SC, PingFangSC-Regular;
}

// 页面外出包装
.wrap-page {
  padding: 24rpx;
}

// 标题
.u-title {
  font-size: 34rpx;
  line-height: 1;
  font-family: PingFangSC-Medium, PingFang SC;
}

/* start--去除webkit的默认样式，  改变按钮和其他控件的外观，使其类似于原生控件 （如，ios和安卓保持一致）--start */
.u-fix-ios-appearance {
  -webkit-appearance:none;
}
/* ----------------------------- end */

/* start--icon 图标外层套一个view，让其达到更好的垂直居中的效果--start */
.u-icon-wrap {
  display: flex;
  align-items: center;
}
/* ----------------------------- end */

/* start--iPhoneX底部安全区定义--start */
.safe-area-inset-bottom {
  padding-bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
/* ---------------------------- end */

/* start--各种hover点击反馈相关的类名-start */
.u-hover-class {
  // background-color: #f7f8f9!important;
  opacity: 0.6;
}

.u-cell-hover {
  background-color: #f7f8f9!important;
}
/* ----------------------------- end */

/* start-- 文本行数限制，超出会省略号，比如只限制2行 --start */
.u-line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.u-line-2 {
  -webkit-line-clamp: 2;
}

.u-line-3 {
  -webkit-line-clamp: 3;
}

.u-line-4 {
  -webkit-line-clamp: 4;
}

.u-line-5 {
  -webkit-line-clamp: 5;
}

.u-line-2, .u-line-3, .u-line-4, .u-line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

/* ----------------------------- end */


/* start--Retina 屏幕下的 1px 边框--start */
.u-border,
.u-border-bottom,
.u-border-left,
.u-border-right,
.u-border-top,
.u-border-top-bottom {
  position: relative
}

.u-border-bottom:after,
.u-border-left:after,
.u-border-right:after,
.u-border-top-bottom:after,
.u-border-top:after,
.u-border:after {
  /* #ifndef APP-NVUE */
  content: ' ';
  /* #endif */
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  // 多加0.1%，能解决有时候边框缺失的问题
  width: 200%;
  height: 200%;
  transform: scale(0.5, 0.5);
  border: 0 solid $u-content-border-color;
  z-index: 2;
}

.u-border-top:after {
  border-top-width: 1px
}

.u-border-left:after {
  border-left-width: 1px
}

.u-border-right:after {
  border-right-width: 1px
}

.u-border-bottom:after {
  border-bottom-width: 1px
}

.u-border-top-bottom:after {
  border-width: 1px 0
}

.u-border:after {
  border-width: 1px
}
/* ----------------------------- end */

/* start--clearfix--start */
.u-clearfix:after,
.clearfix:after {
  /* #ifndef APP-NVUE */
  content: '';
  /* #endif */
  display: table;
  clear: both
}
/* ----------------------------- end */

/* start--去除button的所有默认样式--start */
.u-reset-button {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
}

.u-reset-button::after {
  border: none;
}
/* ----------------------------- end */